@charset "UTF-8";
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Barlow Condensed', sans-serif;
	color: #231f20;
	
	
}

.greentext {
	color:#AACA4A;
	
	
} 

a {
	color:#AACA4A;
	text-decoration: underline;
	
	
}
h1 {
	color:#AACA4A;
font-family: 'Barlow Condensed', sans-serif;

	font-size: 30px;
	font-weight: 600;
	margin: 10px 0px;
	
	
}

.player-buttons {
	left: 35%;
	position: absolute;
	top: 20%;
	z-index: 1;
}


h2 {
	color:#AACA4A;
font-family: 'Barlow Condensed', sans-serif;

	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
	margin: 10px 0px;
	
	
}

h3 {
	color:#AACA4A;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 600;
	margin: 10px 0px;
	
	
}

h4 {
	color:#AACA4A;
	text-transform: uppercase;
	font-size: 45px;
	font-weight: 600;
	margin: 10px 0px 0px 0px;
	
	
}

h5 {
	color:#AACA4A;
font-family: 'Barlow Condensed', sans-serif;

	text-transform: uppercase;
	font-size: 60px;
	font-weight: 600;
	margin: 10px 0px;
	
	
}

.wrapper {
	width: 1080px;
	margin: 0 auto;
	position: relative;
	
	
}

.toolbox {
	float: right;
	width: 350px;
	background-color: #000;
	margin: 0px 0px 20px 20px;
	color: #fff;
text-decoration:none;
	
	
}

.toolbox a{
	
text-decoration:none;
	
	
}

.toolboxheader {
	padding: 15px;
	color: #fff;
	font-size: 27px;
	border-bottom: 1px solid #AACA4A;
	
	
}

.toolboxitem {
	padding: 15px;
	color: #fff;
	font-size: 20px;
	border-bottom: 1px solid #333;
text-decoration:none;
	
	
	
}

.toolboxitem a{
	color: #fff;
text-decoration:none;
	
	
	
}
.quizitem {
float:left;
height:300px;
width:300px;
margin:20px;
background-color: #000;
border-radius: 50%;
border: 10px solid #000;
background-size:cover;
transition: 0.55s;
cursor:pointer;



}

.quizitem:hover {

border: 10px solid #AACA4A;



}
.quizsub a{
	
text-decoration:none;
	
}
.quizsub {
	padding: 300px 0px 150px 0px;
	text-align: center;
	font-size: 30px;
color:#fff;
background-color:#000;
background-image: url(../images/quizbg.jpg);
background-size:cover;
text-decoration:none;
	
}

.formfield {
width:48%;
float:left;
margin-bottom:20px;

}

.formfield2 {
width:100%;
float:left;
margin-bottom:20px;

}

.formfield3 {
width:25%;
float:left;
margin-bottom:20px;
}

.textfield1 {
width:92%;
height:40px;
margin-top:5px;
font-size:18px;
outline:none;
padding:0px 15px;
border: 1px solid #ccc;
font-family: 'Barlow Condensed', sans-serif;
}

.textfield2 {
width:97%;
font-size:18px;
padding:0px 15px;
height:50px;
margin-top:5px;
outline:none;
border: 1px solid #ccc;
font-family: 'Barlow Condensed', sans-serif;
}

.textfield3 {
width:84%;
font-size:18px;
height:50px;
padding:0px 15px;
margin-top:5px;
outline:none;
border: 1px solid #ccc;
font-family: 'Barlow Condensed', sans-serif;
}

.dropdown {
 -webkit-appearance: none;
    -moz-appearance: none;
border: 1px solid #ccc;
height:50px;
width:45%;
font-size:18px;
margin-top:5px;
padding:0px 15px;
outline:none;
font-family: 'Barlow Condensed', sans-serif;

}

.formbutton {
 -webkit-appearance: none;
    -moz-appearance: none;
border: 1px solid #ccc;
height:50px;
width:45%;
text-transform: uppercase;
	border: 1px solid #AACA4A;
	background-color: #AACA4A;
	color: #fff;
	border-radius: 5px;
	padding: 4px 30px;

	font-size: 25px;
font-family: 'Barlow Condensed', sans-serif;

}

.tabbox {
	position: absolute;
	top: -99px;
	width: 100%;
	
	
}

.billboardtext {
	
position: absolute;
top: 55%;*/
/*
position: relative;
top: 650px;
*/
color: #000;
text-align: center;
width: 100%;
z-index: 9999999999999;
text-transform: uppercase;
	font-weight: 600;
	font-size: 80px;
	 text-shadow: 1px 1px 3px #000;
	
	
}

.billboardtext2 {
position: absolute;
top: 55%;
/*
position: relative;
top: 340px;
*/
color: #000;
text-align: center;
width: 100%;
z-index: 9999999999999;
text-transform: uppercase;
	font-weight: 600;
	font-size: 80px;
line-height:70px;
	 text-shadow: 1px 1px 3px #000;
	
	
}




.billboardsubtext {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-weight:normal;
	font-size: 30px;
line-height:30px;
	text-shadow: 0px 0px 0px #000;
	
}

.header {
	position: fixed;
	z-index: 99;
	width: 100%;
	background-image: url(../images/bgtrans.png);
	
}

.topbar {
	border-bottom: 1px solid #b7b7b9;
	padding: 8px 0px;
	font-size: 18px;
	font-weight: 600;
	
	
}

.navbar {
	border-bottom: 1px solid #b7b7b9;
	padding: 15px 0px;
	
	
}

.logo {
	float: left;
	
	
}

.nav{ position: relative;
top: 0px !important;
padding-bottom: 0px !important;
text-align:left;
right: -42px !important;
float: left; }

.navitem {
	float: left;
	font-size: 20px;
	font-weight: 600;
	margin: 30px 20px 0px 20px;
	padding-bottom: 4px;
	border-bottom: 3px solid transparent;
	transition: 0.25s;
	color: #231f20;
	
}

.navitem a{
	color: #231f20;
	text-decoration: none;
	
}

.navitem:hover {
	border-bottom: 3px solid #AACA4A;
	cursor: pointer;
	 transition: 0.25s;
	
}

.topbutton1 {
	text-transform: uppercase;
	border: 1px solid #AACA4A;
	border-radius: 5px;
	padding: 4px 30px;
	float: right;
	font-size: 18px;
	color: #AACA4A;
	transition: 0.25s;
	
}

.topbutton1:hover {
	color: #231F20;
	cursor: pointer;
	 transition: 0.25s;
	
}

.topbutton2 {
	text-transform: uppercase;
	border: 1px solid #AACA4A;
	background-color: #AACA4A;
	color: #fff;
	border-radius: 5px;
	padding: 4px 30px;
	float: right;
	font-size: 18px;
	margin-left: 10px;
		
}

.topbutton2:hover {
	color: #231F20;
	cursor: pointer;
	 transition: 0.25s;
	
}

.subbutton {
	color:#AACA4A;
	font-size: 20px;
	margin: 10px 0px 10px 0px;
text-decoration:none;
	
}

.phone {
	float: left;
	margin-right: 30px;
	
	padding: 6px 0px;
	
	
}

.address {
	float: left;
	font-weight: normal;
	
	padding: 6px 0px;
	
	
}

.socialicon {
	height: 30px;
	width: 30px;
	background-position: top center;
	background-repeat: no-repeat;
	float: right;
	transition: 0.25s;
}

.socialicon:hover {
	cursor: pointer;
	 transition: 0.25s;
	background-position: bottom center;
}

.greenbar {
	background-color: #AACA4A;
	padding: 40px 0px 180px 0px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 600;
	
}

.greenbarsub {
	background-color: #AACA4A;
	padding: 60px 0px;
	text-align: center;
	color: #fff;
	font-size: 25px;
	
}



.programs {
	padding: 200px 0px 40px 0px;
	text-align: center;
	font-size: 50px;
	border-bottom: 10px solid #AACA4A;
	
}

.programssub {
	padding: 40px 0px 40px 0px;
	text-align: left;
	font-size: 20px;
	border-bottom: 10px solid #AACA4A;
	
}

.programbox {
	float: left;
	position: relative;
	width: 340px;
	font-size: 18px;
	margin: 0px 10px;
top:-350px;
height:700px;
display:block;
	
	
}

.programboxsub {
	position: relative;
	width: 100%;
	text-align: left;
	font-size: 24px;
	margin: 0px 0px 80px 0px;
	
	
}

.programimg {

	width: 340px;
	height: 340px;
background-size:cover;

background-position: center center;
	background-color: #363636;
	
}

.programimgsub {
	float: left;
background-size:cover;
background-position: center center;
	width: 500px;
	height: 400px;
	background-color: #363636;
	margin-right: 40px;
}




.socialfeed {
	padding: 20px 0px 0px 0px;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	
	
}

.socialicons {width: 340px;
	margin: 0 auto;
	 
	
	
}

.socialicon2 {
	height: 75px;
	width: 75px;
	margin: 15px 5px 15px 5px;
	background-position: top center;
	background-repeat: no-repeat;
	float: right;
	transition: 0.25s;
}

.socialicon2:hover {
	cursor: pointer;
	 transition: 0.25s;
	background-position: bottom center;
}

.socialtitle {
color:#fff;
opacity: 1;
z-index:999999999;

margin-top:150px;
font-weight:300;
}

.socialpost {
	background-color: #363636;
background-position: center center;
background-repeat:no-repeat;
background-size: auto 100%;
position: relative;
	width: 25%;
	height: 400px;
	float: left;
 opacity: 0.7;
transition: all 0.5s ease;
cursor: pointer;
	
}

.socialpost:hover {

 opacity: 1;
	
}

.quiz {
	background-color: #231f20;
	padding: 40px 0px;
	color: #fff;
	font-weight: 500;
	font-size: 65px;
background-image: url(../images/quizbg.jpg);
background-size:cover;

	
	
}

.quiztext {
	float: left;
	
	
}

.quizbutton {
	float:right;
	font-size: 30px;
	margin-top: 50px;

text-decoration:none;
}

.quizbutton a{
text-decoration:none;
}

.quizbutton2 {
 -webkit-appearance: none;
    -moz-appearance: none;
border: 1px solid #ccc;
width:25%;
margin:0 auto;
text-transform: uppercase;
	border: 1px solid #AACA4A;
	color: #AACA4A;
	border-radius: 5px;
	padding: 10px;
	font-size: 25px;
font-family: 'Barlow Condensed', sans-serif;
cursor:pointer;
transition: 0.25s;
text-decoration:none;
}
.quizbutton2 a {
text-decoration:none;
	
}
.quizbutton2:hover {
text-decoration:none;
	color: #fff;
cursor:pointer;
}

.line2 {
	margin-left: 350px;
	
}

.footer {
	border-top: 10px solid #AACA4A;
	padding: 40px 0px;
	background-image: url(../images/footerbg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	
	
}

.footer ul{
	float: left;
	width: 20%;
	list-style-position: inside;
	 padding-left:0;font-size: 20px;
}

.footer li{
	list-style: none;
	list-style-position: inside;
	line-height: 30px;
	
	
}

.footer li a{
	text-decoration: none;
	color: #231f20; transition: 0.25s;
	
	
}
.footer li a:hover{
	text-decoration: underline;
	color: #AACA4A; transition: 0.25s;
	
	
}

.footertitle {
	color: #AACA4A;
	font-size: 25px;
}

.footer img {
	float: right;
	
	
}
.copyright {
	margin-top: 20px;
	float: left;
	
	
}


@media only screen and (max-width: 1200px) {


	
	.wrapper {
	width: 95%;
	margin: 0 auto;
		transition: 0.25s;
	
	
}
	
	.address {
		display: none;
		transition: 0.25s;
		
	}
	
	.phone {
		display: none;
		transition: 0.25s;
		
	}
	
	.topbutton1 {
		float: left;
	
	padding: 4px 6px;
	font-size: 16px;
	color: #AACA4A;
		margin-right: 5px;
	transition: 0.25s;
	}
	.topbutton2 {
		float: left;
	margin-right: 5px;
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
	transition: 0.25s;
	
	}
	
	.logo img{
		width: 300px;
		height: auto;
		transition: 0.25s;
		
	}
	
	
	
	.programbox {
	float: none;
	position: relative;
	width: 100%;
	font-size: 18px;
	margin: 0px 10px 10px 0px;
	transition: 0.25s;
height:auto;

	
}
	
	.programimg {
	position: relative;
	width: 100%;
	height: 200px;
	background-color: #363636;
	top: 0px;
background-size:cover;
background-position: center center;
		transition: 0.25s;
}
.programimgsub {
	float: left;
background-size:cover;

background-position: center center;
	width: 100%;
clear:both;
	height: 400px;
	background-color: #363636;
	margin-right: 0px;
}
	
	.programs {
	padding: 340px 0px 40px 0px;
	text-align: center;
	font-size: 50px;
	border-bottom: 10px solid #AACA4A;
	transition: 0.25s;
}
	
.greenbar {
	padding: 20px 0px 20px 0px;
	transition: 0.25s;
	
}
	
	.socialpost {
	background-color: #363636;
	width: 100%;
	height: 300px;
background-position: center center;
background-repeat:no-repeat;
background-size: 100% auto;
	float: none;
 opacity: 0.5;
transition: all 0.5s ease;
cursor: pointer;
	
}

.socialpost:hover {

 opacity: 1;
	
}
	
	.quiztext {
	float: none;
		line-height: 55px;
	transition: 0.25s;
	
}
	
	.line2 {
	margin-left: 0px;
	
}
	
	.quizbutton {
	float:none;
	font-size: 30px;
		margin: 0px auto;

text-decoration:none;
	margin-top: 50px;
}

.quizbutton a{
text-decoration:none;
}
	
	.footer ul{
	float: none;
	width: 100%;
		text-align: center;
	list-style-position: inside;
	 padding-left:0;font-size: 20px;
}
	
	
	.copyright {
	margin-top: 20px;
	float: none;
	
	
}

.footer img {
	float: none;
	
	
}
	
	.billboardtext {
position: absolute;
top: 45%;
color: #000;
text-align: center;
width: 100%;
z-index: 9999999999999;
text-transform: uppercase;
	font-weight: 600;
	font-size: 70px;
		line-height: 65px;
	 text-shadow: 1px 1px 3px #000;
	transition: 0.25s;
	
}
	
	.billboardsubtext {
	margin-bottom: 10px;
	transition: 0.25s;
}
	.player-buttons {
	left: 2%;
	position: absolute;
	top: 15%;
	z-index: 1;
}


}


/* SAMIR CSS - 25-07-2018*/

.c_error {
	color:red !important;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
}

.collapse_menu {

	display:none;

}

@media (max-width:995px) {

	.nav {

		display: none;

		transition: 0.25s;		

	}

	.collapse_menu {

		display:block;

		float:right;

		position:relative;

		top:15px;

		right:5px;

		cursor:pointer;

	}


	.navitem {
font-size:50px;
		float:none !important;

	}

	.nav {

		position: relative;

		top: 47px;

		padding-bottom: 33px;

		text-align: right;

		right: -44px;

		 -webkit-transition:height 200ms ease-in;

		-moz-transition:height 200ms ease-in;

		-o-transition:height 200ms ease-in;

		transition:height 200ms ease-in;

	}	

}

@media (max-width:485px){

	.logo img {

		width: 218px;

		height: auto;

		transition: 0.25s;

	}

	.navitem {

		margin: 9px 20px 0px 20px !important;


	}


}



@media (max-width:395px){

	.nav {

		position: relative;

		top: 0px !important;

		padding-bottom: 0px !important;

		text-align: right;

		right: -10px !important;

	}



	.collapse_menu {

		top:2px !important;

	}

	/* New Css D */
	

